<%= form_for :search, method: :get, url: venues_path do |f| %>
  <div class="form-group">
      <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group item-types">
    <%= f.collection_check_boxes(:item_type_list, Deal::DEAL_TYPES, proc{|x| x}, proc{|x| x.capitalize}, {:item_wrapper_class => 'checkbox-inline', :class => 'form-control'}) do |b| %>
      <%= b.label(class: "checkbox-inline") { b.check_box(:checked => true, class: "check_box") + b.text } %>
    <% end %>
  </div>

  <%= f.submit 'Search', class: 'btn btn-default' %>
<% end %>

