<li>
  <div class="venue">
    <div class="venue-distance accent-data">
      <span><%= venue.geocoded? ? venue.distance.round(1) : '-' %><span>
      <span>Miles</span>
    </div>

    <div class="venue-details">
      <h3><%= link_to venue.name, venue %></h3>
      <p class="subtext"><%= venue.street_address %></p>
    </div>

    <div class="countdown accent-data">
      <span><%= "-" %></span>
      <span>Remaining</span>
    </div>

  </div>
<!--     <div class="table-responsive">
      <table class="table">
        <% venue.todays_deals.each do |deal| %>
          <tr>
            <th scope="row"><i class="fa fa-beer"></i></th>
            <td><%= link_to deal.title, deal %></td>
            <td><%= deal.description %></td>
          </tr>
        <% end %>
      </table>
    </div> -->
</li>

<!--
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= link_to venue.name, venue %> <small><%= venue.street_address %></small></h3>
  </div>

      <table class="table">
        <% venue.todays_deals.each do |deal| %>
          <tr>
            <th scope="row"><i class="fa fa-beer"></i></th>
            <td><%= link_to deal.title, deal %></td>
            <td><%= deal.description %></td>
          </tr>
        <% end %>
      </table>
</div>
-->