<h1>Nearby Venues</h1>
<ul class="media-list">
<% @venues.each do |venue| %>
  <li class="media">
    <div class="media-left">
      <%= "#{venue.distance.round(2)} miles" %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to venue.name, venue %></h3>
      <%= venue.address %>
    </div>
  </li>
<% end %>
</ul>

<p><%= @lat_lng %></p>

<%= link_to 'New Venue', new_venue_path %>