<%= button_to 'New Venue', new_venue_path, class: "btn btn-primary pull-right", method: "get" %>

<h1>All Venues</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Geocoded?</th>
      <th>GID?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
    <tr>
      <td><%= link_to venue.name, venue %></td>
      <td><%= venue.address %></td>
      <td><%= link_to("Website", venue.website, target: 'blank') unless venue.website.nil? %></td>
      <td><% if venue.geocoded? %><i class="fa fa-check"></i><% end %></td>
      <td><% if venue.google_place_id %><i class="fa fa-check"></i><% end %></td>
      <td><%= link_to "Edit", edit_venue_path(venue) unless !user_signed_in? %>
      <td><%= link_to "Destroy", venue, method: :delete, data: { confirm: 'Are you sure?' } unless !user_signed_in? %>
    </tr>
    <% end %>
  </tbody>
</table>