<h1><%= @venue.name %></h1>
<p><%= @venue.address %><p>
<p><%= link_to "Website", @venue.website unless @venue.website.nil? %><p>

<% if current_admin_user %>
  <%= link_to 'Edit', edit_venue_path(@venue) %>
  <%= link_to 'Destroy', @venue, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>