<%#= button_to 'New Deal', new_deal_path, class: "btn btn-primary pull-right", method: "get" %>

<%= render partial: 'search_form' %>

<div class="table-responsive">
<table id="deals" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Item Types</th>
      <th>Venue</th>
      <th>Schedule</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <%#= render partial: 'venues/venue', object: deal.venue %>

    <tr class="deal ">
      <td><%= link_to deal.title, deal %></td>
      <td><%= deal.description %></td>
      <td><%= deal.item_type_list %></td>
      <td><%= link_to deal.venue.name, deal unless deal.venue.nil? %></h3></td>
      <td><%= deal.schedule.to_s %></td>
      <td><%= link_to "Edit", edit_deal_path(deal) unless !user_signed_in? %>
      <td><%= link_to "Destroy", deal, method: :delete, data: { confirm: 'Are you sure?' } unless !user_signed_in? %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
