<h3>Deal:</h3>

<b>Title:</b>
<p><%= @deal.title %></p>
<b>Venue:</b>
<p><%= link_to @deal.venue.name, @deal.venue %></p>
<b>Description:</b>
<p><%= @deal.description %></p>
<b>Next Occurrence:</b>
<p><%= @deal.schedule.next_occurrence.strftime('%B %d, %Y') %></p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_deal_path(@deal) %>
  <%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>