<h3>Deal Details</h3>

<p><b>Title:</b> <%= @deal.title %></p>

<p><b>Venue:</b> <%= link_to @deal.venue.name, @deal.venue %></p>

<p><b>Description:</b> <%= @deal.description %></p>

<p><b>Schedule:</b> <%= @deal.schedule.to_s %></p>

<p><b>Next Occurrence:</b> <%= @deal.schedule.next_occurrence.strftime('%B %d, %Y') %></p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_deal_path(@deal) %>
  <%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>