<!DOCTYPE html>
<html>

<head>
  <title>Sloppy Hour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Open+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-no-turbolink>

  <%= render partial: 'layouts/navbar' %>

  <div class="location-bar">
    <%= Time.now.strftime('%l:%M %P %A') + ' | ' + @user_location.city %>
  </div>

  <%= render partial: 'venues/view_option_bar' %>

  <div class="container">
    <%= yield %>
  </div>

</body>

</html>